<% content_for :title do %>About<% end %>
<h3>About this  Website</h3>
<p>This is a really early version of a collaborative work.  In fact, this is *so* early that it's not really collaborative yet, just this web page noodling.</p>
